fastapi
uvicorn[standard]
python-multipart
PyMuPDF
pytesseract
git+https://github.com/NaturalHistoryMuseum/pylibdmtx.git
rapidfuzz
opencv-python-headless
numpy
Pillow
tabulate
ocrmypdf
celery[redis]
setuptools
